.application-header {
  display: flex;
  align-items: center;

  strong.application-header-title {
    margin-left: 30px;

    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 10px;
    }
  }


  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    img.icon {
      max-width: 42px;
      max-height: 42px;
    }

  }
}
